<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gitPub Homepage</title>
</head>
<body>
    <style>
        body {
            background-color: steelblue;
            color: blanchedalmond;
        }
    </style>
    <h1>Welcome to gitPub</h1>
    <% for (let i = 0; i < foods.length; i++) { %>
        <ul>
            <li><a href="/foods/<%= i %>">
                <%= foods[i].name %>
            </a></li>
        </ul>
    <% } %>
    <p><a href='/drinks'>Check out our list of drinks!</p>

</body>
</html>