<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gitPub Homepage</title>
</head>
<body>
    <style>
        body {
            background-color: steelblue;
            color: blanchedalmond;
        };
    </style>
    <h1>At foo bar</h1>
    <h2>Name: <%= food.name %></h2>
    <h3>Price: $<%= food.price %></h3>
    <img src="<%= food.image %>.jpg">
    <p><a href='/foods'>Go back to the list of foods</p>

</body>
</html>